html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
.page-container {
  margin: 0 auto;
}
h1 {
  font-size: 6.4rem;
}
h2 {
  font-size: 3.2rem;
  padding: 2rem 0rem;
}
p {
  font-size: 1.9rem;
  line-height: 1.8;
}
h3 {
  font-size: 2.2rem;
  padding: 0rem 0rem 2rem 0rem;
}
.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  background-color: #1B3B6F;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}
.top-nav-container h2 {
  font-family: "Yellowtail", cursive;
  font-size: 4rem;
  color: #FFFFFF;
}
.top-nav-container .nav-bar {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.top-nav-container .nav-bar li a {
  font-size: 2rem;
  text-decoration: none;
  color: #C7D7E0;
}
.top-nav-container .nav-bar li a:hover {
  color: #FFFFFF;
}
.top-nav-container .login {
  padding: 1rem 2rem;
  background: #1B3B6F;
  -webkit-box-shadow: 0px 0px 13px 0px #0a172b;
  -moz-box-shadow: 0px 0px 13px 0px #0a172b;
  box-shadow: 0px 0px 13px 0px #0a172b;
  color: #FFFFFF;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  text-decoration: none;
}
.top-nav-container .login:hover {
  background: #3A7CA5;
}
.top-nav-container-mobile {
  display: none;
}
.nav-bar-mobile {
  display: none;
}
@media (max-width: 750px) {
  .top-nav-container {
    display: none;
  }
  .mobile-menu div a {
    color: white;
  }
  .menu-button {
    padding: 1rem 2rem;
    background: #1B3B6F;
    -webkit-box-shadow: 0px 0px 13px 0px #0a172b;
    -moz-box-shadow: 0px 0px 13px 0px #0a172b;
    box-shadow: 0px 0px 13px 0px #0a172b;
    color: #FFFFFF;
    border-radius: 0.3rem;
    font-size: 2rem;
    text-decoration: none;
  }
  .menu-button:hover {
    background: #3A7CA5;
    cursor: pointer;
  }
  .top-nav-container-mobile {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 3rem;
    background-color: #1B3B6F;
  }
  .top-nav-container-mobile .mobile-login div {
    padding-bottom: 3rem;
  }
  .top-nav-container-mobile .mobile-menu div {
    padding-bottom: 3rem;
  }
  .logo {
    font-family: "Yellowtail", cursive;
    font-size: 5rem;
    color: #FFFFFF;
    margin: 1rem 0rem 2rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
  }
  .nav-bar-mobile {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 100%;
    transition: 0.5s;
    padding: 2rem 0rem;
    width: 50%;
    background: #112749;
    position: fixed;
    top: 6rem;
  }
  .nav-bar-mobile a {
    font-size: 2rem;
    color: #D9DCD6;
    text-decoration: none;
    padding-left: 3rem;
  }
  .nav-bar-mobile div {
    padding: 2rem 0rem;
    z-index: 0;
  }
  .nav-bar-mobile div:hover {
    -webkit-box-shadow: 0px 0px 13px 0px #0a172b;
    -moz-box-shadow: 0px 0px 13px 0px #0a172b;
    box-shadow: 0px 0px 13px 0px #0a172b;
  }
  .nav-bar-mobile div:hover a {
    color: white;
  }
  .login {
    padding: 1rem 3.2rem;
    background: #1B3B6F;
    -webkit-box-shadow: 0px 0px 13px 0px #0a172b;
    -moz-box-shadow: 0px 0px 13px 0px #0a172b;
    box-shadow: 0px 0px 13px 0px #0a172b;
    color: #FFFFFF;
    border-radius: 0.3rem;
    font-size: 2rem;
    text-decoration: none;
  }
  .login:hover {
    background: #3A7CA5;
  }
}
@media (max-width: 500px) {
  .menu-button {
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
  }
  .logo {
    font-size: 4rem;
  }
  .login {
    padding: 1rem 3.2rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 400px) {
  .menu-button {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }
  .logo {
    font-size: 3rem;
  }
  .login {
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }
}
.page-container {
  max-width: 100rem;
}
header {
  height: 60rem;
  width: 100%;
  background-image: url(/img/starrynightsky.jpg);
  overflow: hidden;
}
.header-container {
  height: 60rem;
}
.header-container .cta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10%;
}
.header-container .cta h1 {
  color: #D9DCD6;
  text-align: center;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.2rem;
  opacity: 1;
}
.header-container .cta h2 {
  font-size: 1.8rem;
  color: #D9DCD6;
  text-align: center;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}
.header-container .cta .sign-up {
  background: #3A7CA5;
  margin-top: 10rem;
  width: 24rem;
  border-radius: 1rem;
  font-size: 2.6rem;
  padding: 1rem;
  color: #1B3B6F;
}
.header-container .cta .sign-up a {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.header-container .cta .sign-up:hover {
  background: #1B3B6F;
  cursor: pointer;
}
.header-container .cta .sign-up:hover a {
  color: #D9DCD6;
}
.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-section h2 {
  padding: 3em 0rem;
}
.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-1 .content-box {
  width: 100%;
  background: #FFFFFF;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}
.section-1 .content-box h3 {
  padding: 5rem 0rem;
}
.easy {
  text-align: center;
}
.mid-section {
  display: flex;
  align-items: center;
}
.mid-section h2 {
  padding: 6.5rem 0rem;
}
.mid-section .section-2 .content-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border-radius: 1.2rem;
}
.mid-section .section-2 .content-mid .img-container {
  max-width: 100%;
  height: auto;
  margin-right: 3%;
}
.mid-section .section-2 .content-mid .img-container img {
  max-width: 100%;
}
.mid-section .section-2 .content-mid .img-container-alt {
  height: auto;
  margin-left: 3%;
}
.mid-section .section-2 .content-mid .img-container-alt img {
  max-width: 100%;
}
.mid-section .section-2 .content-mid .text-container {
  margin-top: 3rem;
  max-width: 100%;
}
.mid-section .section-2 .content-mid h3 {
  font-size: 2rem;
}
.mid-section .section-2 .content-mid .text-container-alt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3rem;
  max-width: 80%;
}
.mid-section .section-2 .content-mid .text-container-alt p {
  text-align: right;
}
.bottom-section h2 {
  padding: 5rem 2rem;
}
.features-content-container {
  padding: 1rem 2rem 5rem 2rem;
}
.features-tab-container {
  display: flex;
  padding: 1rem 2rem;
}
.features-tab-container .features-tabs {
  margin: 0% 1% 2% 0%;
}
.features-tab-container .features-tabs .tab-button {
  font-size: 1.8rem;
  white-space: nowrap;
  padding: 1rem 2rem;
  background: #1B3B6F;
  color: #FFFFFF;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  cursor: pointer;
}
.features-tab-container .features-tabs .selected {
  background: #5BC0BE;
  color: #FFFFFF;
  cursor: pointer;
}
.footer-container {
  background: #D9DCD6;
}
.footer-container .footer-nav-container {
  display: flex;
}
.footer-container .footer-nav-container h2 {
  font-family: "Yellowtail", cursive;
  font-size: 4rem;
  color: #404040;
}
.footer-container .footer-nav-container .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 5%;
}
.footer-container .footer-nav-container .footer-nav li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #404040;
}
.footer-container .footer-nav-container .footer-nav li a:hover {
  color: black;
}
.cta-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.cta-2 h2 {
  font-size: 5rem;
  font-weight: bold;
  color: darkgrey;
}
.cta-2 .sign-up {
  background: #3A7CA5;
  margin-top: 3rem;
  width: 24rem;
  border-radius: 1rem;
  font-size: 2.6rem;
  padding: 1rem;
  color: #1B3B6F;
}
.cta-2 .sign-up a {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.cta-2 .sign-up:hover {
  background: #1B3B6F;
  cursor: pointer;
}
.cta-2 .sign-up:hover a {
  color: #D9DCD6;
}
.hide-content {
  display: none;
}
.bottom-section-mobile {
  display: none;
}
@media (max-width: 800px) {
  .mid-section {
    flex-direction: column;
    width: 100%;
  }
  .cta-2 h2 {
    font-size: 4rem;
  }
  .bottom-section h2 {
    margin: 0% 2%;
  }
  .features-content-container {
    margin: 4% 2%;
  }
}
@media (max-width: 500px) {
  .content-mid {
    flex-direction: column;
  }
  .content-mid .img-container {
    height: auto;
    margin-right: 3%;
  }
  .content-mid .img-container img {
    max-width: 100%;
  }
  .content-mid .img-container-alt {
    order: -1;
    height: auto;
    margin-left: 3%;
  }
  .content-mid .img-container-alt img {
    max-width: 100%;
  }
  .content-mid .text-container {
    margin-top: 3rem;
    max-width: 80%;
  }
  .content-mid .text-container-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3rem;
    max-width: 70%;
  }
  .content-mid .text-container-alt p {
    text-align: right;
  }
  .cta-2 h2 {
    font-size: 3rem;
  }
  .features-tab-container .features-tabs .tab-button {
    font-size: 1.5rem;
    white-space: nowrap;
  }
}
@media (max-width: 490px) {
  .header-container .cta h1 {
    line-height: 1.4;
    font-size: 5rem;
  }
  .header-container .cta h2 {
    font-size: 1.28rem;
  }
  .header-container .cta .sign-up {
    margin-top: 5rem;
  }
  .bottom-section {
    display: none;
  }
  .bottom-section-mobile {
    display: block;
    padding: 0rem 1.5rem;
  }
  .bottom-section-mobile h2 {
    text-align: center;
  }
  .bottom-section-mobile .features-content-mobile {
    padding: 2rem 0rem 5rem 0rem;
  }
  .bottom-section-mobile .features-content-mobile h3 {
    padding: 4rem 0rem;
  }
}
.team .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}
.team .main-content h1 {
  text-align: center;
  padding-bottom: 5rem;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  padding: 3rem;
}
.profile-container .members {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}
.profile-container .members .team-text-container {
  max-width: 80%;
  padding-left: 3rem;
}
.profile-container .members .img-holder {
  max-width: 40%;
}
.profile-container .members .img-holder img {
  width: 100%;
  border-radius: 100%;
}
@media (max-width: 750px) {
  .main-content h1 {
    font-size: 5rem;
  }
  .profile-container .members {
    flex-direction: column;
  }
  .profile-container .members .team-text-container {
    padding-left: 0rem;
    max-width: 100%;
  }
  .profile-container .members .team-text-container h2 {
    text-align: center;
  }
  .profile-container .members .team-text-container p {
    text-align: justify;
  }
}
