html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
.page-container {
  max-width: 1024px;
  margin: 0 auto;
}
.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1B3B6F;
}
.top-nav-container h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2rem;
  color: #FFFFFF;
}
.top-nav-container .nav-bar {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.top-nav-container .nav-bar li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #C7D7E0;
}
.top-nav-container .nav-bar li a:hover {
  color: #FFFFFF;
}
.top-nav-container .login {
  padding: 0.5rem 1rem;
  background: #1B3B6F;
  border: 0.08rem solid #C7D7E0;
  color: #FFFFFF;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  text-decoration: none;
}
.top-nav-container .login:hover {
  background: #3A7CA5;
}
.page-container .header-container {
  width: 100%;
  height: 90%;
  position: absolute;
  background: #3A7CA5;
}
.page-container header {
  display: flex;
  justify-content: center;
}
.page-container header .header-img-container {
  max-height: 30rem;
  overflow: hidden;
}
.page-container header .header-img-container img {
  opacity: 0.3;
}
