html body{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
.page-container{

    margin: 0 auto;
    h1{
        font-size: 4.2rem;
        font-family: 'Ubuntu', sans-serif;
    }
}