.page-container{
       header {
        height: 35rem;
        width: 100%;
        background-image: url(/img/starry\ night\ sky.png);
        overflow: hidden;        
        
        .header-container{
            height: 40rem;
                    
            .cta {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 100%;
    
                h1{
                    color: @lightgrey;
                    text-align: center;
                    font-weight: bold;
                    line-height: 1.6;
                    letter-spacing: 0.2rem;
                    opacity: 1;
                }
                h2{
                    font-size: 1.4rem;
                    color: @lightgrey;
                    text-align: center;
                    font-weight: bold;
                    line-height: 1.6;
                    letter-spacing: 0.2rem;
    
                }
                .sign-up{

                    background: @lightblue;
                    margin-top: 7rem;
                    width: 10rem;
                    border-radius: 1rem;
                    font-size: 1.4rem;
                    padding: 1rem;
                    color: @darkblue;
                    a{
                        text-decoration: none;
                        color: @lightgrey;
                        .flex-center();
                    }
                }  
           
            }
           
        
        }
    }   
}