.page-container{
       header {
        height: 60rem;
        width: 100%;
        background-image: url(/img/starry\ night\ sky.png);
        overflow: hidden;        
        
        .header-container{
            height: 60rem;
                    
            .cta {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 100%;
    
                h1{
                    color: @lightgrey;
                    text-align: center;
                    font-weight: bold;
                    line-height: 1.6;
                    letter-spacing: 0.2rem;
                    opacity: 1;
                }
                h2{
                    font-size: 1.4rem;
                    color: @lightgrey;
                    text-align: center;
                    font-weight: bold;
                    line-height: 1.6;
                    letter-spacing: 0.2rem;
    
                }
                .sign-up{

                    background: @lightblue;
                    border: 0.05rem solid @lightgrey;
                    margin-top: 7rem;
                    width: 14rem;
                    border-radius: 1rem;
                    font-size: 1.6rem;
                    padding: 1rem;
                    color: @darkblue;
                    a{
                        text-decoration: none;
                        color: @white;
                        .flex-center();
                    }
                    &:hover{
                        background: @darkblue;
                        cursor: pointer;
                        a{
                            color: @lightgrey;
                        }
                        
                    }
                } 
           
            }
           
        
        }
    }

    .section-1{
        display: flex;
        justify-content: space-between;
       
    }
    .content-box{
        width: 30%;
        background: @lightgrey;
    }