.page-container{
    max-width: 100rem;
}
header {
    height: 60rem;
    width: 100%;
    background-image: url(/img/starry\ night\ sky.jpg);
    overflow: hidden;         
}
.header-container{
    height: 60rem;        
    .cta {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 10%;
        h1{
            color: @lightgrey;
            text-align: center;
            font-weight: bold;
            line-height: 1.6;
            letter-spacing: 0.2rem;
            opacity: 1;
        }
        h2{
            font-size: 1.8rem;
            color: @lightgrey;
            text-align: center;
            font-weight: bold;
            line-height: 1.6;
            letter-spacing: 0.2rem;

        }
        .sign-up{

            background: @lightblue;
            margin-top: 10rem;
            width: 24rem;
            border-radius: 1rem;
            font-size: 2.6rem;
            padding: 1rem;
            color: @darkblue;
            a{
                text-decoration: none;
                color: @white;
                .flex-center();
            }
            &:hover{
                background: @darkblue;
                cursor: pointer;
                a{
                    color: @lightgrey;
                }                
            }
        }
    }
}  
.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        padding: 3em 0rem;
    }
}     
.section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content-box{
        width: 100%;
        background: @white;
        padding: 1rem 3rem;
        margin-bottom: 2rem;
        h3{
            padding: 5rem 0rem;
        }     
    }      
}
.easy{
    text-align: center;
}
.mid-section{
    display: flex;
    align-items: center; 
    h2{
        padding: 6.5rem 0rem;
    }   
    .section-2{ 
        .content-mid{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background: @white;
            padding: 2rem 3rem;
            margin-bottom: 2rem;
            border-radius: 1.2rem;
            .img-container{
                max-width: 100%;
                height: auto;
                margin-right: 3%;
                img{
                    max-width: 100%
                }
            }
            .img-container-alt{
                height: auto;
                margin-left: 3%;
                img{
                    max-width: 100%
                }
            }
            .text-container{
                margin-top: 3rem;
                max-width: 100%;
            }
            h3{
                font-size: 2rem;
            }
            .text-container-alt{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-top: 3rem;
                max-width: 80%;
                p{
                    text-align: right;
                }
            }                
        }       
    }         
}
.bottom-section{
    h2{
        padding: 5rem 2rem;
    }
}
.features-content-container{
    padding: 1rem 2rem 5rem 2rem;
}
.features-tab-container{
    display: flex;
    padding: 1rem 2rem;
    .features-tabs{
        margin: 0% 1% 2% 0%;
        .tab-button{
            font-size: 1.8rem;
            white-space: nowrap;
            padding: 1rem 2rem;
            background: @darkblue;
            color:@white;
            border-top-left-radius: 25%;
            border-top-right-radius: 25%;
            cursor: pointer;
        }
        .selected{
            background:@accent2;
            color: @white;
            cursor: pointer;
        }
    }
}
.footer-container{
    background: @lightgrey;
    .footer-nav-container{
        display: flex;
        h2{
            font-family: 'Yellowtail', cursive;
            font-size: 4rem;
            color: #404040;            
        }
        .footer-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 2% 5%;    
            li a{
                text-decoration: none;
                font-size: 1.6rem;
                color: #404040;
                &:hover{
                    color: black;
                }
            }
        }
    }

}
.cta-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    h2{
        font-size: 5rem;
        font-weight: bold;
        color: darkgrey;
    }
    .sign-up{
        background: @lightblue;
        margin-top: 3rem;
        width: 24rem;
        border-radius: 1rem;
        font-size: 2.6rem;
        padding: 1rem;
        color: @darkblue;
        a{
            text-decoration: none;
            color: @white;
            .flex-center();
        }
        &:hover{
            background: @darkblue;
            cursor: pointer;
            a{
                color: @lightgrey;
            }            
        }
    }
}
.hide-content{
    display:none;
}
.bottom-section-mobile{
    display: none;
}

@media(max-width: 800px){
    .mid-section{
        flex-direction: column;
        width:100%;
    }
    .cta-2{
        h2{
            font-size: 4rem;
        }
    }
    .bottom-section{
        h2{
            margin: 0% 2%;     
        }
    }
    .features-content-container{
        margin: 4% 2%;
    }    
}
@media(max-width: 500px){
    .content-mid{
        flex-direction: column;
        .img-container{
            height: auto;
            margin-right: 3%;
            img{
                max-width: 100%
            }
        }
        .img-container-alt{
            order: -1;
            height: auto;
            margin-left: 3%;
            img{
                max-width: 100%
            }
        }
        .text-container{
            margin-top: 3rem;
            max-width: 80%;
        }
        .text-container-alt{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 3rem;
            max-width: 70%;
            p{
                text-align: right;
            }
        }            
    }
    .cta-2{
        h2{
            font-size: 3rem;
        }
    }
    .features-tab-container{

        .features-tabs{
    
            .tab-button{
                font-size: 1.5rem;
                white-space: nowrap;
                

            }

        }
    }   

}
@media(max-width: 490px){
    .header-container{
        .cta{
            h1{
                line-height: 1.4;
                font-size: 5rem;
            }
            h2{
                font-size: 1.28rem;
            }
            .sign-up{
                margin-top: 5rem;
            }
        }
    }
    .bottom-section{
        display:none;
    }
    .bottom-section-mobile{
        display: block;
        padding: 0rem 1.5rem;
        h2{
            text-align: center;
        }
        .features-content-mobile{
            padding: 2rem 0rem 5rem 0rem;
            h3{
                padding: 4rem 0rem;
            }
        }
    }
   
}

